* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: transparent !important;
  z-index: 2;
}
header li {
  margin: 0 15px;
  letter-spacing: 0.5px;
}
header .navbar-brand span {
  color: #f5634b;
}
header .tele i,
header .tele span {
  color: #f5634b;
}
header a {
  transition: 0.3s;
}
header a:not(.navbar-brand):hover {
  color: #f5634b !important;
}
header .dropdown-menu {
  padding: 2em;
  background-color: #1c1c1c;
  text-align: center;
  width: 250px;
}
header .dropdown-menu .dropdown-item {
  padding: 0;
  color: white;
  margin: 0.7em 0;
}
header .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.landing {
  background-image: url("../images/bg-image-2-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 43vh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.landing .container {
  text-align: center;
}
.landing .container p {
  color: white;
}
.landing .container p a {
  text-decoration: none;
  color: #f5634b;
  border-left: 3px solid white;
  padding-left: 1em;
}
.landing .container h1 {
  line-height: 1;
  color: white;
  font-size: 3em;
  margin: 0;
  width: 100%;
}
.landing .container h1 span {
  color: #f5634b;
}

section .container .flexbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12em;
}
section .container .flexbox img {
  width: 22%;
}
section .container .flexbox .cont {
  flex-basis: 50%;
  padding: 2em 0;
}
section .container .flexbox a {
  transition: 0.5s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  color: #fff;
  padding: 18px 35px;
  font-weight: 700;
}
section .container .flexbox a:hover {
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  color: #fff !important;
  transform: translateY(-5px) !important;
}
section .container .flexbox span {
  color: #f5634b;
}
section .container .flexbox h2 {
  font-size: 56px;
}
section .container .flexbox h3 {
  font-size: 38px;
}
section .container .main-heading-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232323;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
}
section .container .main-heading-content h2 {
  font-size: 2.3em;
}
section .container .main-heading-content p {
  color: #666;
}
section .container .main-heading-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5634b;
  width: 50px;
  height: 4px;
}
section .container .gridbox {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1em 2em;
}
section .container .gridbox .box {
  text-align: center;
  padding: 3em;
  transition: 0.5s;
}
section .container .gridbox .box i {
  color: #f5634b;
  font-size: 2.5em;
}
section .container .gridbox .box h3 {
  margin: 1.3em 0 1em;
}
section .container .gridbox .box p {
  color: rgba(0, 0, 0, 0.6);
}
section .container .gridbox .box:hover {
  background-color: #181a23;
}
section .container .gridbox .box:hover h3, section .container .gridbox .box:hover p {
  color: white;
}
section .container .gridbox .box.act {
  background-color: #181a23;
}
section .container .gridbox .box.act h3, section .container .gridbox .box.act p {
  color: white;
}

.gallery {
  margin-top: 10em;
}
.gallery .container .main-heading-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232323;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  margin-bottom: 3em;
}
.gallery .container .main-heading-content h2 {
  font-size: 2.3em;
}
.gallery .container .main-heading-content p {
  color: #666;
}
.gallery .container .main-heading-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5634b;
  width: 50px;
  height: 4px;
}
.gallery .gridbox {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}
.gallery .gridbox img {
  width: 100%;
  cursor: pointer;
}

footer {
  background-color: #181a23;
  padding: 5em 3em;
}
footer .container {
  color: white;
}
footer .container .desc {
  width: 30%;
}
footer .container .desc h1 {
  margin: 0 0 0.7em;
  font-size: 2em;
}
footer .container .desc p {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}
footer .links h4 {
  white-space: nowrap;
}
footer ul a {
  color: #fff !important;
  opacity: 0.8;
  font-size: 14px;
}
footer ul a:hover {
  color: #f5634b !important;
}
footer .location address, footer .location .info {
  color: #fff !important;
  opacity: 0.8;
  font-size: 14px;
}
footer .copyright {
  padding: 20px 35px;
  background-color: black;
  color: #666;
}
footer .copyright span {
  color: #f5634b;
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container .desc {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container .desc {
    width: 100%;
  }
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container .desc {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */