* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

body {
  counter-reset: count;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: transparent !important;
  z-index: 2;
}
header li {
  margin: 0 15px;
  letter-spacing: 0.5px;
}
header .navbar-brand span {
  color: #f5634b;
}
header .tele i,
header .tele span {
  color: #f5634b;
}
header a {
  transition: 0.3s;
}
header a:not(.navbar-brand):hover {
  color: #f5634b !important;
}
header .dropdown-menu {
  padding: 2em;
  background-color: #1c1c1c;
  text-align: center;
  width: 250px;
}
header .dropdown-menu .dropdown-item {
  padding: 0;
  color: white;
  margin: 0.7em 0;
}
header .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.landing {
  background-image: url("../images/bg-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.landing .container {
  margin-bottom: 7em;
}
.landing .container h4 {
  padding: 5px 15px;
  border: 2px solid grey;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: grey;
  letter-spacing: 5px;
}
.landing .container h1 {
  line-height: 1;
  color: white;
  font-size: 6em;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.landing .container h1 span {
  color: #f5634b;
}
.landing .container a {
  transition: 0.5s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  color: #fff;
  padding: 18px 35px;
  font-weight: 700;
}
.landing .container a:hover {
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  color: #fff !important;
  transform: translateY(-5px) !important;
}

@media (max-width: 767px) {
  .landing .container h1 {
    font-size: 2em;
  }
}
.perks .gridbox {
  position: relative;
  top: -75px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
.perks .gridbox .box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 5em 2.5em;
  border-radius: 0.25rem;
  z-index: 1;
  position: relative;
  transition: 0.5s;
}
.perks .gridbox .box .content {
  position: relative;
}
.perks .gridbox .box .content a {
  text-decoration: none;
  color: #f5634b;
  font-weight: 500;
  transition: 0.5s;
}
.perks .gridbox .box .content h3 {
  margin-bottom: 1em;
}
.perks .gridbox .box .content p {
  margin-bottom: 2em;
  color: rgba(0, 0, 0, 0.6);
}
.perks .gridbox .box::after {
  counter-increment: count;
  content: "0" counter(count);
  color: black;
  opacity: 0.1;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  top: -6%;
  font-size: 7em;
}
.perks .gridbox .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  transition: 0.4s;
  z-index: -1;
}
.perks .gridbox .box:hover::before {
  height: 100%;
}
.perks .gridbox .box:hover {
  color: white;
}
.perks .gridbox .box:hover a, .perks .gridbox .box:hover i {
  color: white;
}
.perks .flexbox {
  display: flex;
}
.perks .flexbox .img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 140%;
  border-radius: 10px;
  border: 5px solid white;
  overflow: hidden;
}
.perks .flexbox img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.perks .flexbox .cont {
  position: relative;
  bottom: 1.5em;
  margin-left: 2em;
}
.perks .flexbox .cont h2 {
  font-size: 2.5em;
}
.perks .flexbox .cont span {
  color: #f5634b;
}
.perks .flexbox .cont p {
  color: rgba(0, 0, 0, 0.6);
}
.perks .flexbox .cont a {
  transition: 0.5s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  color: #fff;
  padding: 18px 35px;
  font-weight: 700;
}
.perks .flexbox .cont a:hover {
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  color: #fff !important;
  transform: translateY(-5px) !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .perks .flexbox {
    flex-direction: column;
  }
  .perks .flexbox .img {
    width: 100%;
  }
  .perks .flexbox .cont {
    margin: 4em 0;
  }
  .perks .flexbox .cont a {
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .perks .flexbox {
    flex-direction: column;
  }
  .perks .flexbox .img {
    width: 100%;
  }
  .perks .flexbox .cont {
    margin: 4em 0;
  }
  .perks .flexbox .cont a {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .perks .gridbox {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .perks .flexbox {
    flex-direction: column;
  }
  .perks .flexbox .img {
    width: 100%;
  }
  .perks .flexbox .cont {
    margin: 4em 0;
  }
  .perks .flexbox .cont a {
    margin: auto;
  }
}
section {
  background-image: url(../images/bg-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
section h4 {
  color: rgb(180, 180, 180);
  font-size: 1em;
  font-weight: normal;
}
section p {
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  color: white;
}
section span {
  color: #f5634b;
}
section a {
  transition: 0.5s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  color: #fff;
  padding: 18px 35px;
  font-weight: 700;
}
section a:hover {
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  color: #fff !important;
  transform: translateY(-5px) !important;
}
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  z-index: -1;
}

.services .container .main-heading-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232323;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
}
.services .container .main-heading-content h2 {
  font-size: 2.3em;
}
.services .container .main-heading-content p {
  color: #666;
}
.services .container .main-heading-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5634b;
  width: 50px;
  height: 4px;
}
.services .container .row .col-md {
  text-align: center;
  padding: 5em 1em;
  z-index: 1;
  position: relative;
  transition: 0.5s;
}
.services .container .row .col-md i {
  color: #f5634b;
  font-size: 3.5em;
  margin-bottom: 0.5em;
  transition: 0.4s;
}
.services .container .row .col-md h4 {
  margin-bottom: 0.5em;
}
.services .container .row .col-md p {
  margin-top: 2em;
}
.services .container .row .col-md::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  transition: 0.4s;
  z-index: -1;
}
.services .container .row .col-md:hover::before {
  height: 100%;
}
.services .container .row .col-md:hover {
  color: white;
}
.services .container .row .col-md:hover a, .services .container .row .col-md:hover i {
  color: white;
}

.gallery .container .main-heading-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232323;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  margin-bottom: 3em;
}
.gallery .container .main-heading-content h2 {
  font-size: 2.3em;
}
.gallery .container .main-heading-content p {
  color: #666;
}
.gallery .container .main-heading-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5634b;
  width: 50px;
  height: 4px;
}
.gallery .gridbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gallery .gridbox img {
  width: 100%;
  cursor: pointer;
}

.reviews {
  color: white;
  background-image: url(../images/bg-cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
}
.reviews .container {
  z-index: 2;
  position: relative;
}
.reviews .container .main-heading-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232323;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  color: white;
}
.reviews .container .main-heading-content h2 {
  font-size: 2.3em;
}
.reviews .container .main-heading-content p {
  color: #666;
}
.reviews .container .main-heading-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5634b;
  width: 50px;
  height: 4px;
}
.reviews .container .box h2 {
  font-size: 1.5em;
  margin: 2em 0;
}
.reviews .container .box i {
  font-size: 3em;
  color: #f5634b;
}
.reviews .container .box p {
  color: grey;
}
.reviews .container .box small {
  display: block;
  color: grey;
  margin-bottom: 1em;
}
.reviews::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  z-index: 1;
}

.courses .container .main-heading-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232323;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  margin: 7em auto 2em;
}
.courses .container .main-heading-content h2 {
  font-size: 2.3em;
}
.courses .container .main-heading-content p {
  color: #666;
}
.courses .container .main-heading-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5634b;
  width: 50px;
  height: 4px;
}
.courses .container .row a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  transition: 0.2s;
}
.courses .container .row a:hover {
  color: #f5634b;
}
.courses .container .row p {
  color: rgba(0, 0, 0, 0.6);
}
.courses .container .row .col-md-3 {
  padding: 0;
}
.courses .container > a {
  transition: 0.5s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
  color: #fff;
  padding: 18px 35px;
  font-weight: 700;
  margin: 5em auto;
}
.courses .container > a:hover {
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  color: #fff !important;
  transform: translateY(-5px) !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .courses .container .col-md {
    margin: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .courses .container .col-md {
    margin: 0 !important;
  }
}
@media (max-width: 767px) {
  .courses .container .col-md {
    margin: 0 !important;
  }
}
footer {
  background-color: #181a23;
  padding: 5em 3em;
}
footer .container {
  color: white;
}
footer .container .desc {
  width: 30%;
}
footer .container .desc h1 {
  margin: 0 0 0.7em;
  font-size: 2em;
}
footer .container .desc p {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}
footer .links h4 {
  white-space: nowrap;
}
footer ul a {
  color: #fff !important;
  opacity: 0.8;
  font-size: 14px;
}
footer ul a:hover {
  color: #f5634b !important;
}
footer .location address, footer .location .info {
  color: #fff !important;
  opacity: 0.8;
  font-size: 14px;
}
footer .copyright {
  padding: 20px 35px;
  background-color: black;
  color: #666;
}
footer .copyright span {
  color: #f5634b;
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container .desc {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container .desc {
    width: 100%;
  }
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container .desc {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */