// Import Global Rules
@import "sass/layout/global-rules";
// Import Media Queries Mixin
@import "sass/helpers/mixins";
// Import Variables
@import "sass/helpers/variables";

// Start Header
header {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: transparent !important;
    z-index: 2;
    li {
      margin: 0 15px;
      letter-spacing: 0.5px;
    }
    .navbar-brand {
      span {
        color: $main-color;
      }
    }
    .tele {
      i,
      span {
        color: $main-color;
      }
    }
  
    a {
      transition: 0.3s;
      &:not(.navbar-brand):hover {
        color: $main-color !important;
      }
    }
    .dropdown-menu {
      padding: 2em;
      background-color: #1c1c1c;;
      text-align: center;
      width: 250px;
      .dropdown-item {
        padding: 0;
        color: white;
        margin: 0.7em 0;
          &:hover {
            background-color: transparent;
          }
      }
    }
}
// End Header
// Start Landing
.landing {
    background-image: url("../images/bg-image-2-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 43vh;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    &::before {
      @include overlay(black, 0.8);
    }
    .container {
      text-align: center;
      p {
        color: white;
        a {
            text-decoration: none;
            color: $main-color;
            border-left: 3px solid white;
            padding-left: 1em;
        }
      }
      h1 {
        line-height: 1;
        color: white;
        font-size: 3em;
        margin: 0;
        width: 100%;
        span {
          color: $main-color;
        }
      }
     
    }
  }
// End Landing
// Start Services
section {
    margin-top: 6em;
    margin-bottom: 10em;
    .container {
        .main-heading-content {
            @include main-heading;
            margin-bottom: 3em;
        }
        img {
            width: 50%;
        }
        aside {
            padding: 3em 1em;
        }
        span , p {
            color: rgba(0, 0, 0, 0.6);
        }
        }
}
// End Services
// Start Reviews
.reviews {
    color: white;
    background-image: url(../images/bg-cta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    .container {
      z-index: 2;
      position: relative;
      .main-heading-content {
        @include main-heading;
        color: white;
      }
      .box {
        h2 {
          font-size: 1.5em;
          margin: 2em 0;
        }
        i {
          font-size: 3em;
          color: $main-color;
        }
        p {
          color: grey;
        }
        small {
          display: block;
          color: grey;
          margin-bottom: 1em;
        }
      }
    }
    &::before {
      @include overlay(black , 0.8);
      z-index: 1;
    }
  }
  // End Reviews
// Start Footer
footer {
    background-color: #181a23;
    padding: 5em 3em;
    .container {
      color: white;
      .desc {
        width: 30%;
        h1 {
          margin: 0 0 .7em;
          font-size: 2em;
        }
        p {
          color: #fff;
          opacity: .8;
          font-size: 14px;
        }
      }
    }
    .links {
      h4 {
        white-space: nowrap;
      }
    }
    ul {
      a {
        color: #fff !important;
        opacity: .8;
        font-size: 14px;
        &:hover {
          color: $main-color !important;
        }
      }
    }
    .location {
      address , .info {
        color: #fff !important;
        opacity: .8;
        font-size: 14px;
      } 
    }
    .copyright {
      padding: 20px 35px;
      background-color: black;
      color: #666;
      span {
        color: $main-color;
      }
     }
  }
  @include breakpoints(medium) {
    footer {
      .container {
        flex-direction: column;
        text-align: center;
        .desc {
          width: 100%;
        }
      }
    } 
  }
  @include breakpoints(small) {
    footer {
      .container {
        flex-direction: column;
        text-align: center;
        .desc {
          width: 100%;
        }
      }
    } 
  }
  @include breakpoints(mobile) {
    footer {
      .container {
        flex-direction: column;
        text-align: center;
        .desc {
          width: 100%;
        }
      }
    } 
  }
// End Footer